.sidebar {
  top: 0;
  left: 0;
  width: 11rem;
  background: var(--outer_space);
  display: flex;
  flex-direction: column;
}

.sidebar .logo-content {
  padding: 0 0.9rem;
  display: flex;
  justify-content: space-between;
}

.sidebar .logo-content:hover {
  cursor: pointer;
}

.sidebar .logo-content .logo {
  color: var(--light_grey);
  display: flex;
  height: 4rem;
  width: 100%;
  align-items: center;
}

.logo-content .logo svg {
  color: var(--accent);
  font-size: 2rem;
  margin-right: 0.4rem;
}

.logo-content .logo .logo-name {
  font-size: 1.7rem;
  font-weight: 400;
}

.sidebar .menu-container {
  display: flex;
}

.sidebar .menu-button {
  align-self: center;
  display: none;
}

.sidebar .nav-list {
  flex: 1;
  padding: 0.8rem 0;
}

.sidebar li {
  list-style: none;
  width: 100%;
}

.sidebar li a {
  display: flex;
  align-items: center;
  padding: 0.4rem;

  color: var(--light_grey);
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
}

.sidebar li a.active {
  background-color: var(--accent);
}

.sidebar .svg-icon {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: var(--light_grey);
}

.sidebar .profile-content .profile {
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0.9rem;
  color: var(--light_grey);
  font-size: 1rem;
  font-weight: 300;
}

.conditional-hide {
  display: auto;
}
