:root {
  /* colors */
  --light_grey: #f9f9fc;
  --light_grey_2: #f8f8f9;
  --outer_space: #2e3532;
  --accent: rgb(35, 206, 107);
  --accent-blur: rgb(35, 206, 107, 0.2);
  /* --accent: rgb(107, 35, 206);
  --accent-blur: rgb(107, 35, 206, 0.2); */
  --inner-border: rgb(0, 0, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica', sans-serif;
}

.App {
  background-color: var(--light_grey);
  height: 100vh;
  width: 100%;
  overflow: auto;
  color: var(--outer_space);
}

.App .layout-container {
  height: 100%;
  display: grid;
  grid-template-columns: max-content 12fr;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media screen and (max-width: 750px) {
  .App .layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .App .sidebar {
    width: 100%;
  }

  .sidebar .menu-button {
    display: block;
  }

  .login-container::after {
    display: none;
  }

  .signUp-container::after {
    display: none;
  }

  .message-container {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    height: 50%;
  }

  .conditional-hide {
    display: none;
  }
}
