:root {
  /* colors */
  --light_grey: #f9f9fc;
  --light_grey_2: #f8f8f9;
  --dark-grey: rgb(213, 245, 227);
  --dark-grey-2: #262b29;
  --outer_space: #2e3532;
  --disabled-grey: #d3d1d1;
  --grey-blur: rgb(46, 53, 50, 0.5);
  --accent: rgb(35, 206, 107);
  --accent-blur: rgb(35, 206, 107, 0.2);
  --secondary: rgb(232, 81, 51);
  /* --accent: rgb(107, 35, 206);
  --accent-blur: rgb(107, 35, 206, 0.2); */
  --inner-border: rgb(0, 0, 0, 0.1);

  --background-color-1: var(--light_grey);
  --background-color-2: var(--light_grey_2);
  --background-color-3: var(--dark-grey);
  --background-color-inverse: var(--outer_space);
  --background-color-dark: var(--outer_space);
  --accent-blur: rgb(35, 206, 107, 0.3);
  --text-main: var(--outer_space);
  --text-inverse: var(--light_grey);
  --text-dark: var(--outer_space);
  --text-light: #fff;
  --disabled-input: var(--disabled-grey);
  --disabled-text: var(--outer_space);
  --overlay: var(--grey-blur);
}

[data-theme='dark'] {
  --background-color-1: var(--outer_space);
  --background-color-2: var(--dark-grey-2);
  --background-color-3: var(--dark-grey-2);
  --background-color-inverse: var(--light_grey);
  --background-color-dark: var(--dark-grey-2);
  --text-main: var(--light_grey);
  --text-inverse: var(--outer_space);
  --text-dark: var(--outer_space);
  --text-light: #fff;
  --inner-border: rgb(252, 252, 252, 0.1);
  --disabled-input: #525252s;
  --disabled-text: #d5d5d5;
  --overlay: var(--grey-blur);
}

* {
  margin: 0;
  padding: 0;

  font-family: 'Helvetica', sans-serif;
}

.App {
  background-color: var(--background-color-1);
  height: 100vh;
  width: 100%;
  overflow: auto;
  color: var(--text-main);
}

.App .layout-container {
  height: 100%;
  display: grid;
  grid-template-columns: max-content 12fr;
}

.App input {
  background-color: var(--background-color-2);
  color: var(--text-main);
}

.App input:disabled {
  background-color: var(--disabled-input);
  color: var(--disabled-text);
}

/*dropdown*/
.dropdown > div {
  border: 1px solid var(--background-color-dark);
  border-radius: 0.3rem;
  box-shadow: none;
  background-color: var(--background-color-2);
}

.dropdown div[class*='singleValue'] {
  color: var(--text-main);
}

.dropdown div[class*='menu']:hover {
  color: var(--accent);
  background-color: inherit;
}

.dropdown div[class*='option'] {
  color: var(--text-main);
  background-color: transparent;
}

.dropdown div[class*='option']:hover {
  color: var(--accent);
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

@media screen and (max-width: 750px) {
  .App .layout-container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .App .sidebar {
    position: fixed;
    height: 4rem;
    width: 100%;
    transition: all 0.3s ease;
    bottom: 100%;
    z-index: 1;
  }

  .sidebar.active {
    height: 100%;
    bottom: 0;
  }

  .sidebar .menu-button {
    display: block;
  }

  .sidebar .inactive {
    display: none;
  }

  .login-container::after {
    display: none;
  }

  .signUp-container::after {
    display: none;
  }

  .message-container {
    margin-top: 4rem;
    flex: 1;
    display: grid;
    grid-template-columns: 1fr;
    height: 50%;
  }

  .profile-container,
  .settings-container {
    margin-top: 4rem;
  }

  .conditional-hide {
    display: none;
  }
}
